<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BookDB - {% block title %}{{ _link_text }}{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
