<!doctype html>
<html>
  <head>
    <title>BookDB - Default template</title>
  </head>
  <body>
    <h1>Default template</h1>
    <p>
      There is no template specified for <% @var :name %>.
      Please edit the corresponding document or its schema to use an existing template,
      or create a new one.
    </p>
  </body>
</html>
