{% extends "base.tmpl" %}

{% block content %}
<h1>{{ name }}</h1>
<p>
  ({% if death %}{{ birth }} - {{ death }}{% else %}* {{ birth }}{% endif %})
</p>
{% if wikipedia %}
<p>
  <a href="{{ wikipedia }}">Wikipedia</a>
</p>
{% endif %}
<section>
  {{ description }}
</section>
{% block extra_content %}{% endblock %}
{% endblock content %}