<h1><% @var name %></h1>
<p>
  (<% @if death %><% @var birth %> - <% @var death %><% @else %>* <% @var birth %><% @endif %>)
</p>
<% @if wikipedia %>
<p>
  <a href="<% @var wikipedia %>">Wikipedia</a>
</p>
<% @endif %>
<section>
  <% @var description %>
</section>