{% extends "base.tmpl" %}

{% block content %}
    <h1>{{ name }}</h1>
    <p>
      Since {{ year }}
    </p>
    <h2>Description</h2>
    <section>
      {{ description }}
    </section>
    <h2>Books</h2>
    <ul>
      {% for book in books %}
      <li>
        {{ book._link }} ({{ book.year }})
      </li>
      {% endfor %}
    </ul>
{% endblock %}
