<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><% @var title %> (EG <% @var eg-number %>)</title>
  </head>
  <body>
    <h1><% @var title %> (EG <% @var eg-number %>)</h1>
    <p>Komponist: <% @var composer %></p>
  </body>
</html>
