<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><% @var name %></title>
  </head>
  <body>
    <h1><% @var name %></h1>
    <h2>Stücke:</h2>
    <ul>
      <% @loop pieces %>
      <li><% @var this %></li>
      <% @endloop %>
    </ul>
  </body>
</html>
