<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><% @var title %></title>
  </head>
  <body>
    <h1><% @var title %></h1>
    <p>Komponist: <% @var composer %></p>
  </body>
</html>
